body
{
    color: black;
    text-align: right;
    font-family: "Arial";
    
}

#cabecera
{
    background-color : blue;
    text-align: enter;

}

#container
{
    width: 70%;
    padding:  lem;
    text-align: right;
    border: 1px solid black;
    margin: 0 auto;
}